@using Identity_in_MVC_Task.Data;
@using Microsoft.AspNetCore.Identity
@using System.Security.Claims;
@model Identity_in_MVC_Task.Models.Product
@inject SignInManager<ApplicationUser> SignInManager

@{
    ViewData["Title"] = "Details";
}
<style>
    .col-sm-10{
        word-wrap: break-word;
        word-break: break-all;
    }
</style>

<div>
    <h4>Объявление:</h4>
    <hr />
    <dl class="row" enctype="multipart/form-data">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Category)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Category)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProductPicture)
        </dt>
        <dd class="col-sm-10" >
            @if (Model.ProductPicture != null)
            {
                <img id="ProductPicture" style="width:30%" object-fit:cover" src="data:image/*;base64,@(Convert.ToBase64String(Model.ProductPicture))">
            }
            else
            {
                <text>Фото отсутствует</text>
            }
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Price) руб.
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index" class="btn btn-dark">Назад</a>
    @if (SignInManager.IsSignedIn(User) && Model.UserId != User.FindFirstValue(ClaimTypes.NameIdentifier))
        {
            <a asp-action="Buy" class="btn btn-success" asp-route-id="@Model.Id">Купить</a>
        }
</div>
